@model ComivBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>Viewbag.Title</h2>

<div class="row">

    @foreach (var comic in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comic.DisplayText, "Detail", new { id = comic.Id })</h4>
            <a href="@Url.Action("Detail",new { id = comic.Id })">
                <img src="/Images/@comic.CoverImageFile"
                     alt="The Amazing Spider-Man #700"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>
    